.button_red{
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-padding: 5px;
}

.menu_Button{
	-fx-text-alignment: center;
}

.menu_Button:hover{
	-fx-text-alignment: center; 
}


.vbox_green{
	
}

.vbox_green_reverse{
	
}

.warning_Label {
	-fx-font-size: 14px;
	-fx-text-fill: #ff2222;
}

.confirm_cancel{
	-fx-background-color: #ffffffbb;
}

.successful_text {
	-fx-text-fill: #00bb00;
	-fx-font-size: 16px;
}

.stats_Text {
	-fx-font-size: 16px;
}